<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.junsta.service.mapper.CommentMapper">
	<insert id="insertComment" parameterType="com.example.junsta.model.CommentVO">
		INSERT INTO comment(comment_text, postId, uploadDate, writerId) values(#{comment_text}, #{postId}, now(), #{writerId})
	</insert>
	
	<select id="selectComments" parameterType="java.lang.String" resultType="com.example.junsta.model.CommentVO">
	 	SELECT * FROM comment WHERE postId=#{postId}
	</select>

<delete id="deleteComment" parameterType="java.util.Map">
	DELETE FROM comment WHERE postId=#{postId} and userId=#{userId}
</delete>
</mapper>
